<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="ITP DWD Example Site using templates">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <!-- Get Font from Google http://www.google.com/webfonts -->
        <link href='http://fonts.googleapis.com/css?family=Peralta' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,700,300,100' rel='stylesheet' type='text/css'>        
        <style>

            /* full screen background image */
/*
            html { 
                background: url(/static/img/background.jpg) no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
            }
*/

        </style>
<!--         {% block styles %}{% endblock %} -->

    </head>
    <body onload="init()">
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
        
        
        <div class="container">
        	<div id="landing-page" style="padding-left:127px;">
        		<img id="l2-logo" src="static/img/L2-logo.png" class="float-left">
	        	<h1 class="span-center s6 float-left" style="padding-top:45px; padding-left:115px;">What is the <span class="c-kiwi" >DIGITAL IQ</span></h1>
        	</div>
        	
        	<div id="intro-page" style="padding-left:127px;">
	        	<p class="s4" style="padding-left:76px;">Elevator statement comes here. Elevator statement comes here. <br/>Elevator statement comes here.</p>
	        	<p style="padding-left:76px; padding-top:30px;">Brands are ranked across the following dimensions:</p>
	        	<!--here comes the four images -->
	        	<img src="static/img/intro-page-site.png" class="float-left" id="intro-page-site" style="padding-left:56px;">
	        	<img src="static/img/intro-page-digital-marketing.png" class="float-left" style="padding-left:240px;" id="intro-page-digital-marketing">
	        	<img src="static/img/intro-page-mobile.png" class="float-left" style="padding-left:450px;" id="intro-page-mobile">
	        	<img src="static/img/intro-page-social-media.png" class="float-left" style="padding-left:640px;" id="intro-page-social-media">
	        	
	        	<br/><p class="c-orange float-left" style="padding-left:109px; padding-top:200px;">Site</p>
	        	<p class="c-lake float-left" style="padding-left:114px; padding-top:200px;">Digital Marketing</p>
	        	<p class="c-orchid float-left" style="padding-left:101px; padding-top:200px;">Mobile</p>
	        	<p class="c-kiwi float-left" style="padding-left:115px; padding-top:200px;">Social Media</p>
        	</div>
        	
        	<div id="content">
        		
        		<!--*************************SITE*************************-->
        		<div id="site" class="center c-orange">
        		<h2>Site</h2>
        			<p>Effectiveness of brand site</p>
        			<p>Functionality and Content 88%:</p>
        			<ul>
	        			<li>Technology</li>
	        			<li>Navigation & Product/Site Search</li>
	        			<li>Customer Service & Store Locator</li>
	        			<li>Product Page</li>
	        			<li>E-Commerce & Transaction Orientation</li>
	        			<li>Account & Personalization</li>
	        			<li>EU5 E-Commerce Footprint</li>
	        		</ul>
        		
	        		<p>Brand Translation 12%:</p>
	        		<ul>
	        			<li>Aesthetics</li>
	        			<li>Messaging and Visuals</li>
	        			</ul>
        		</div>
        		
        		<!--*************************Digital Marketing*************************-->
        		<div id="digitalMarketing" class="center c-lake">
        			<h2>Digital Marketing</h2>
        			<p>Search, display, and email marketing efforts</p>
        			<ul>
	        			<li>Search: Traffic, SEM, SEO, Web Authority</li>
	        			<li>Advertising & Innovation: Display, Retargeting, Cross-Platform Brand Initiatives</li>
	        			<li>Blogs & Other User-Generated Content: Mentions, Sentiment</li>
	        			<li>Email: Frequency, Content, Innovation, EU5 Sign-Up</li>
	        		</ul>
        		</div>
        		
        		<!--*************************Mobile*************************-->
        		<div id="mobile" class="center c-orchid">
        			<h2>Mobile</h2>
        			<p>Compatibility, optimization, and marketing on smartphones, tablets, and other mobile devices in the U.S. and the EU5</p>
        			<ul>
	        			<li>Mobile Site: Compatibility, Functionality, Transaction Capability</li>
	        			<li>iOS Applications (iPhone & iPad): Availability, Popularity, Functionality</li>
	        			<li>Android: Availability, Popularity, Functionality</li>
	        			<li>Innovation: Geolocal, Recent Brand Initiatives</li>
	        		</ul>
	        		</div>
        		
        		<!--*************************Social Media*************************-->
        		<div id="socialMedia" class="center c-kiwi">
        			<h2>Social Media</h2>
        			<p>Brand presence, community size, content, and engagement across  social universe</p>
        			<ul>
	        			<li>Facebook: Likes, Growth, Tabs & Applications, Responsiveness, Interaction Rate</li>
	        			<li>Twitter: Followers, Growth, Frequency, Online Voice</li>
	        			<li>YouTube:  Search Visibility, Views, Number of Uploads, Subscriber Growth, Viral Videos</li>
	        			<li>Emerging Social Media: Instagram, Google+, Pinterest, Tumblr</li>
	        		</ul>
        		</div>
        		
        		<!--*************************SHOW ICON*************************-->
        		<div>
        			<!--icons go here -->
        			<img src="static/img/bottom-icon-site.png" class="float-left" style="padding-left:400px;" id="bottom-icon-site">
        			<img src="static/img/bottom-icon-digital-marketing.png" class="float-left" style="padding-left:500px;" id="bottom-icon-digital-marketing">
        			<img src="static/img/bottom-icon-Mobile.png" class="float-left" style="padding-left:600px;" id="bottom-icon-Mobile">
        			<img src="static/img/bottom-icon-social-media.png" class="float-left" style="padding-left:700px;" id="bottom-icon-social-media">
        			
        		</div>
        		
        	<div id="ranking" class="center" style="background-color:#a0cd55">
	        	<h2 class="text-align-center" style="background-color:white;"><span style="color:#a0cd55">Digital IQ</span> Ranking</h2>
	        	<p class="c-white text-align-center">Genius: 140+</p>
	        	<p class="c-white text-align-center">Gifted: 110-139</p>
	        	<p class="c-white text-align-center">Average: 90-109</p>
	        	<p class="c-white text-align-center">Challenged: 70-89</p>
	        	<p class="c-white text-align-center">Feeble: <70 </p>
        	</div>
        </div>
        
        
        
<!--
        	<div id="header"> 
	        	<h1 class="fontRaleway text-align-center" style="position:fixed; top:50%;">What is the Digital IQ</h1>

        	</div>
        	
        	<div id="middle">
        		<div id="topBanner" class="shadow">
        			<img src="/static/img/aboutIcon.jpg" width="60px" height="59px" class="float-left" id="aboutIcon">
        			<p class="float-left" style="padding-left:20px;" id="aboutYoonjoChoi">about Yoonjo Choi</p>
	        		
        		</div>
        		<div id="showProject">
	        		
        		</div>
        		<div id="thumbnailsContainer" class="shadow">
	        		<div id="thumbnails">

	        		</div>
	        		<div id="bottom">
	        			<div class="center">
			        		<div class="span4">
				        		<p class="s1" style="padding-top:56px;"><b>Exhibitions</b><br/>
	
				        		</p>
			        		</div>
			        		<div class="span4" style="margin-left:10px; padding-top:155px;">

				        		</p>
			        		</div>
			        		<div class="span4" style="margin-left:10px;">
				        		<img src="static/img/yoonjoChoi.jpg">
			        		</div>

	        			</div>
	        		</div>
        		</div>
        	</div>
-->
        	
        	
        	
<!--             <footer>  -->
<!--             </footer> -->

        </div> <!-- /container -->

        
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/jquery-1.8.1.min.js') }}"><\/script>')</script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jarallax-0.2.3b.js') }}"></script>
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-1.8.1.min.js') }}"></script>
        {% block scripts %}{% endblock %}

    </body>
</html>
